{{ define "end" }}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="js\jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js\bootstrap.min.js"></script>
<script type="text/javascript">

$('.carousel').carousel({
  interval: 3500, // in milliseconds
  pause: 'none' // set to 'true' to pause slider on mouse hover
})
</script>

<div hidden id="snipcart" data-api-key="ZjA1YjQ1MjItYTJlMy00YzdjLWE1NmQtZTM5MTU1YTVmYmM4NjM3MTgzNTAyMTkwNzkxNzEy"></div>
<script src="https://cdn.snipcart.com/themes/v3.0.8/default/snipcart.js"></script>

</body>
</html>
{{ end }}
