{{ define "recents_posts"}}
<section class="main__middle__container">
  <div class="row blue__line">
    <div class="container text-center">
      <h1>Our Blog</h1>
      <p class="big-paragraph">Big paragraph text under page title.</p>
    </div>
  </div>
  <section class="recent-posts">
    <div class="container">
      <div class="row no_padding nothing no-margin to_top">
        <div class="col-md-9">
          <article> <img src="/images/content__images/post1.jpg" alt="pic1" class="pull-left img-responsive">
            <div class="text">
              <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
              <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
              <p><a href="#" class="btn btn-primary btn-md">Learn more</a></p>
            </div>
            <div class="clearfix"></div>
          </article>
          <article> <img src="/images/content__images/post2.jpg" alt="pic2" class="pull-left img-responsive">
            <div class="text">
              <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
              <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
              <p><a href="#" class="btn btn-primary btn-md">Learn more</a></p>
            </div>
            <div class="clearfix"></div>
          </article>
          <article> <img src="/images/content__images/post3.jpg" alt="pic3" class="pull-left img-responsive">
            <div class="text">
              <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
              <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
              <p><a href="#" class="btn btn-primary btn-md">Learn more</a></p>
            </div>
            <div class="clearfix"></div>
          </article>
        </div>
        <div class="col-md-3">
          <div class="icon-item">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </a></h4>
          </div>
          <div class="icon-item">
            <h4><a href="#">Quisque enim augue mattis eget</a></h4>
          </div>
          <div class="icon-item">
            <h4><a href="#">Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</a></h4>
          </div>
          <div class="icon-item">
            <h4><a href="#">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</a></h4>
          </div>
          <div class="icon-item">
            <h4><a href="#">Quisque enim augue mattis eget</a></h4>
          </div>
          <div class="icon-item">
            <h4><a href="#">Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</a></h4>
          </div>
          <div class="icon-item">
            <h4><a href="#">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{{ end }}
